.advantages {
    min-height: 470px;
    padding: 73px 0 65px 0;
    background-color: #F6F6F6;
    &__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        color: #0D0D0D;
        text-align: center;
    }
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 270px;
        text-align: center;
    }
    &__subtitle {
        margin-top: 35px;
        font-weight: bold;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        a {
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
}